*.pyc
__pycache__
build/
dist/
dist/*
*.egg
*.egg-info/*
*.swp
.DS_Store
ez_plant/static/plant_images/*.jpeg
ez_plant/static/plant_images/*.png
ez_plant/static/plant_images/*.jpg
ez_plant/static/plant_images/*.ico
