<!DOCTYPE html>
<html ng-app="ez_plant">
<head>
  <title>EZ-Plant</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" />
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/2b4f6247e1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js"></script>

  <script src="{{ url_for('static', filename='js/app.js')}}"></script>
  <script src="{{ url_for('static', filename='js/services.js')}}"></script>
  <script src="{{ url_for('static', filename='js/aboutController.js')}}"></script>
  <script src="{{ url_for('static', filename='js/loginController.js')}}"></script>
  <script src="{{ url_for('static', filename='js/registerController.js')}}"></script>
  <script src="{{ url_for('static', filename='js/gardenController.js')}}"></script>

</head>

<body class="body-bg" ng-controller="mainController">
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <div class="navbar-brand">
                  </div>
                    <img class="navbar-brand logo" src="{{ url_for('static', filename='assets/images/logo.png')}}"/>
              </div>

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                  <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                  <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
              </ul>
          </div>
        </nav>
    </header>


    <div id="main">
        <div ng-view></div>
    </div>

</body>
</html>
