.navbar {
  margin-bottom: 0px;
}

.headDiv {
  width: 100%;
  height: 150px;
}

.image {
  width: 497px;
  height: 150px;
  line-height: 190px;
  background: url("../assets/images/wooden-sign.png") 497px 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-over-sign {
  color: white;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Lobster Two', cursive;
}

.thumbnail {
    width: 200px;
    height: 293px;
    overflow: auto;
    cursor: pointer;
    border-radius: 10px;
}

.imgContainer:hover .pencil {
  display: block;
  color: green;
}

.thumbnail:hover #editPlantPencil {
  color: green;
  transition: all .2s ease-in-out;
  transform: scale(1.5);
}

.thumbnail:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

#editPlantPencil {
  margin-right:5px;

}

#deletePlantTrash {
  margin-left: 5px;
  transition: all .2s ease-in-out;
}

#deletePlantTrash:hover {
  transform: scale(1.5);
}

#deletePlantTrash:hover ~#editPlantPencil {
  color: #3a3939;
  transform: scale(1.0);
}

.btnContainer {
  margin-right: 3px;
  display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.row {
  text-align: -webkit-center;
}

.plantsContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.schedule-input {
  display: inline;
  width: 120px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.waterNowWrapper button {
    height: 90px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.waterNowWrapper button:focus {
  outline: thin dotted #333;
}

.waterNowWrapper button img {
    display: block;
    margin: auto;
    width: 45px;
    transition: transform ease 0.7s;
}

.waterNowWrapper button:hover img {
  transform: rotate(-50deg);
}

.water-every {
  padding-right: 10px;
}

.moisture-input {
    margin-left: -62px;
}

.days-at {
  padding-left: 10px;
  padding-right: 10px;
}

.plantBtn {
  cursor: pointer;
  color: #3a3939;
}

.btn-info {
    background: green;
}

.plantBtn:hover {
  color: green;
  text-decoration: none;
}

.plantNameTxt {
  margin-top: 0px;
  color: #5a5454;
}

.plantNameType {
  color: #b5b1b1;
}

.lastWateredTxt {
  font-size: smaller;
  color: gray;
}

.marginFix {
  margin-bottom: 0px;
}

.addPlant {
  border-style: dashed;
  border-width: medium;
}

.plusTxt {
  font-size: 120px;
  color: gray;
}

.addPlantTxt {
  color: gray;
  font-size: 18px;
  font-weight: lighter;
  margin-top: -25px;
}

.thumbnail img {
  width: 190px;
  height: 190px;
}

.plantDetails {
  margin-bottom: 20px;
}

.nav-tabs {
  margin-top: 12px;
}

.nav li a {
  z-index: 100;
}

.nextWatering {
  padding-left: 15px;
  color: green;
  text-align: left;
  margin-top: 10px;
}

.arrow img{
  vertical-align: bottom;
  position: relative;
  opacity: 0.93;
}

.formDiv {
  margin-top: -1px;
  background-color: rgba(255, 255, 255, 0.93);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  radius: 4px;
  border-radius: 18px;
  border: 1px solid #ddd;
}

.imgContainer {
  position: relative;
  width: 190px;
  height: 190px;
  cursor: pointer;
}

.imgContainer:hover .pencil {
  display: block;
  color: green;
}

.innerFormDiv {
  padding-top: 17px;
  margin-bottom: 0px;
}

.imgContainer img {
  width: 190px;
  height: 190px;
  border-radius: 10px;
  border: solid;
  border-style: outset;
}

.pencil {
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.pencil:hover {
  cursor: pointer;
  color: green;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.submit-msg {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.hideClass {
  display: none;
}

#submitPlantBtn {
  clear: both;
  border-color: green;
}

#submitPlantBtn:disabled, #discardChangesBtn:disabled {
  border-color: #46b8da;
}

#discardChangesBtn:disabled {
    color: #7BB7E0;
}

#submitPlantBtn:hover {
  border-color: #46b8da;
  color: #fff;
  background-color: #39b3d7;
}

#discardChangesBtn {
  background: white;
  color: green;
  border-color: green;
}

#discardChangesBtn:hover {
  color: #fff;
  background-color: #39b3d7;
  border-color: #46b8da;
}

.clearfix {
  clear: both;
}

.radiosDiv {
  width: auto;
  padding-left: 0px;
}

#plantStatsChart {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: -85px;
}

.statsTitle {
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}

#statsTab {
  position: relative;
}

.refreshStats {
  font-size: 35px;
  position: absolute;
  top: 2%;
  right: 25%;
  color: aqua;
  cursor: pointer;
  text-shadow: 1px 1px 1px darkcyan;
  transition: all .2s ease-in-out;
  transform: scale(1.0);
}

.refreshStats:hover {
  color: chartreuse;
  text-decoration: none;
  transition: all .2s ease-in-out;
  transform: scale(1.5);
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.waterMethodDiv {
  margin-left: 48%;
  width: 44%;
}

.waterNowSpinner {
  font-size: 20px;
  display: block;
  margin: auto;
}
